{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<style type="text/css">

.opcoes, .container {
  float: left;
  width: 40%;
  margin: 0;
  padding: 0;
}
.opcoes {
  margin-right: 10%;
}

</style>
{% block bootstrap3_content %}

  <div class="parent">

    <h1>{% block title %}Sistema de Notícias do DCC{% endblock %}</h1>
    {% bootstrap_messages %}

    <div class="opcoes">

    </div>

    <div class="container">

    {% block content %}(no content){% endblock %}
  </div>

{% endblock %}

