{% extends "base.html" %}

{% block content %}

  <h2>Cadastrar Usuário</h2>

  <form action="cria_usuario" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
  </form>

{% endblock %}
