{% extends "base.html" %}

{% load customfilters %}

{% block content %}

  <h2>Timeline</h2>
  <div class="tweets">
    <ul>
      {% for tweet in tweets %}
        <li>{{tweet.text}}<br>
        {% for usuario in usuarios %}
          {% if usuario.id == tweet.user_id %}
            {{usuario.username}} -- {{tweet.updated_at}}</li></p>
            {% endif %}
        {% endfor %}
      {% endfor %}
    </ul>
</div>
  
{% endblock %}
