{% extends "base.html" %}

{% load customfilters %}

{% block content %}

  <h1>Usuários</h1>

  <div class="usuarios">
    <ul>
      {% for usuario in usuarios %}
        <li> {{usuario.name}} -- {{usuario.email}} </li>
      {% endfor %}
    </ul>
  </div>

{% endblock %}
