{% extends "base.html" %}

{% block content %}

  <h1>Efetue o login</h1>

  <form action="login" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
  </form>

{% endblock %}
